.inputForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textBox {
background:
    radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
    linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
    background-size: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    margin: 30px;
}

input {
    width: 300px;
    padding: 5px;
    font-size: 1.0em;
    border-radius: 5px;
}

button {
    font-size: 1.0em;
    padding: 5px 30px 5px 30px;
    background-color: purple;
    color: white;
    margin: 5px;
    border-radius: 5px;
}

@media only screen and (max-width: 320px) {
    input {
        width: 230px;
    }
}

@media only screen and (min-width: 667px) {
    .textBox {
        flex-direction: row;
    }

    input {
        width: 400px;
    }
}
    
  /* 320px — 480px: Mobile devices.
  481px — 768px: iPads, Tablets.
  769px — 1024px: Small screens, laptops */