.form {
    display: inline-block;
    width: 300px;
    font-size: 1.2em;
    box-shadow: 2px 2px 10px black;
    padding-bottom: 20px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signinHeader {
    margin-bottom: 60px;
}

.form h2 {
    margin: 20px;
}

.form input {
    width: 250px;
    margin: 10px;
    margin-bottom: 20px;
}

.form button {
    margin: 10px 0px 10px 0px;
}

.registerEnter {
    background-color: transparent;
    font-size: 1.2em;
    color: black;
    border: none;   
    text-decoration: underline;
    margin: 20px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 320px) {
    .form {
        width: 250px;
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 667px) {
    .form {
        width: 400px;
        font-size: 1.3em;
    }
}