* {
  margin: 0px;
  padding: 0px;
  font-family: 'Inconsolata', monospace;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: linear-gradient(to right, rgb(253, 59, 253), rgb(47, 211, 252));
  text-align: center;
}

h1 {
  color: white;
  font-size: 2.5em;
  margin: 10px;
  margin-top: 40px;
}

p {
  font-size: 1.2em;
  margin: 5px;
}

.App {
   margin: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button:hover {
  color: lightGray;
}

.particles {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}

@media only screen and (min-width: 667px) {
  p {
    font-size: 1.3em;
  }
}

 